/Temp
/Library
/obj
/rc_slg-csharp.v12.suo
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assets/Resources/Unit/Models/Set/bert/Materials/___.mat
/Assets/Resources/Unit/Models/Set/bert/Materials/___.mat.meta
/Assets/Resources/Unit/Models/Set/christina/Materials/_____∴_斗__psd.mat
/Assets/Resources/Unit/Models/Set/christina/Materials/_____∴_斗__psd.mat.meta
/Assets/Resources/Unit/Models/Set/christina/Materials/__仿3_ __psd.mat
/Assets/Resources/Unit/Models/Set/christina/Materials/__仿3_ __psd.mat.meta
/Assets/Resources/Unit/Models/Set/fighter/Materials/_瞏格___psd.mat
/Assets/Resources/Unit/Models/Set/fighter/Materials/_瞏格___psd.mat.meta
/Assets/Resources/Unit/Models/Set/fighter/Materials/_瘣__.mat
/Assets/Resources/Unit/Models/Set/fighter/Materials/_瘣__.mat.meta
/Assets/Resources/Unit/Models/Set/fighter/Materials/_瘣_psd.mat
/Assets/Resources/Unit/Models/Set/fighter/Materials/_瘣_psd.mat.meta
/Assets/Resources/Unit/Models/Set/miko/Materials/__.mat
/Assets/Resources/Unit/Models/Set/miko/Materials/__.mat.meta
/Assets/Resources/Unit/Models/Set/miko/Materials/hair __.mat
/Assets/Resources/Unit/Models/Set/miko/Materials/hair __.mat.meta
/Assets/Resources/Unit/Models/Set/nina/Materials/__仿6_ __psd.mat
/Assets/Resources/Unit/Models/Set/nina/Materials/__仿6_ __psd.mat.meta
/Assets/Resources/Unit/Models/Set/ninja/Materials/_對___psd.mat
/Assets/Resources/Unit/Models/Set/ninja/Materials/_對___psd.mat.meta
/Assets/Resources/Unit/Models/Set/ninja/Materials/hair _對___psd.mat
/Assets/Resources/Unit/Models/Set/ninja/Materials/hair _對___psd.mat.meta
/Assets/Resources/BGM/Sheena the Queen.mp3.sfk
/Assets/Resources/BGM/Sheena the Queen.mp3.sfk.meta
/Assets/Resources/BGM/ally.mp3.sfk
/Assets/Resources/BGM/ally.mp3.sfk.meta
/Assets/Resources/BGM/boss.mp3.sfk
/Assets/Resources/BGM/boss.mp3.sfk.meta
/Assets/UITex/logo/Untitled-1-Recovered.psd
/Assets/UITex/logo/Untitled-1-Recovered.psd.meta
/Assets/prototype.unity
/Assets/prototype.unity.meta
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.unityproj
/UnityVS.rc_slg.CSharp.Editor.csproj
/UnityVS.rc_slg.CSharp.Plugins.csproj
/UnityVS.rc_slg.CSharp.csproj
/UnityVS.rc_slg.sln
/UnityVS.rc_slg.sln.DotSettings
/UnityVS.rc_slg.v12.suo
/rc_slg-csharp.sln
/rc_slg.sln
/rc_slg.userprefs
/suo4F0D.tmp
/Assets/Resources/Unit/Models/Set/2034/Materials/__仿6_ __psd.mat
/Assets/Resources/Unit/Models/Set/2034/Materials/__仿6_ __psd.mat.meta
/Assets/Resources/Unit/Models/Set/2036/Materials/_瞏格___psd.mat
/Assets/Resources/Unit/Models/Set/2036/Materials/_瞏格___psd.mat.meta
/Assets/Resources/Unit/Models/Set/2036/Materials/_瘣__.mat
/Assets/Resources/Unit/Models/Set/2036/Materials/_瘣__.mat.meta
/Assets/Resources/Unit/Models/Set/2036/Materials/_瘣_psd.mat
/Assets/Resources/Unit/Models/Set/2036/Materials/_瘣_psd.mat.meta
/Assets/Resources/Unit/Models/Set/Odelia/Materials/_謕___psd.mat
/Assets/Resources/Unit/Models/Set/Odelia/Materials/_謕___psd.mat.meta
/Assets/Resources/Unit/Models/Set/Odelia/Materials/hair _謕___psd.mat
/Assets/Resources/Unit/Models/Set/Odelia/Materials/hair _謕___psd.mat.meta
/Assets/Resources/Unit/Models/Set/2040/Materials/hair _對___psd.mat
/Assets/Resources/Unit/Models/Set/2040/Materials/hair _對___psd.mat.meta
/Assets/SheenaAssetBundle
/Assets/StreamingAssets
/Assets/BuildTempFolder.meta
/Assets/ServerAssetBundle.meta
/Assets/SheenaAssetBundle.meta
/Assets/StreamingAssets.meta
/Assets/BuildTempFolder
/Assets/ServerAssetBundle
/Assets/Bundles/Resources/Unit/Models/Set/2006/Materials/Iris.mat
/Assets/Bundles/Resources/Unit/Models/Set/2006/Materials/Iris.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/2026/Materials/Iris.mat
/Assets/Bundles/Resources/Unit/Models/Set/2026/Materials/Iris.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/2037/Materials/__仿3_ __psd.mat
/Assets/Bundles/Resources/Unit/Models/Set/2037/Materials/__仿3_ __psd.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/2038/Materials/Sheena_Original.mat
/Assets/Bundles/Resources/Unit/Models/Set/2038/Materials/Sheena_Original.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/2040/Materials/_對___psd.mat
/Assets/Bundles/Resources/Unit/Models/Set/2040/Materials/_對___psd.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/2049/Materials/dent.mat
/Assets/Bundles/Resources/Unit/Models/Set/2049/Materials/dent.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/3012/Materials/jillandai.mat
/Assets/Bundles/Resources/Unit/Models/Set/3012/Materials/jillandai.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/3013/Materials/jillandai.mat
/Assets/Bundles/Resources/Unit/Models/Set/3013/Materials/jillandai.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5000/Materials/Warrior_W land.mat
/Assets/Bundles/Resources/Unit/Models/Set/5000/Materials/Warrior_W land.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5010/Materials/Spearman_M wind.mat
/Assets/Bundles/Resources/Unit/Models/Set/5010/Materials/Spearman_M wind.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5020/Materials/Archer_W wind.mat
/Assets/Bundles/Resources/Unit/Models/Set/5020/Materials/Archer_W wind.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5030/Materials/Missionary_W land.mat
/Assets/Bundles/Resources/Unit/Models/Set/5030/Materials/Missionary_W land.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5040/Materials/Magician_M land.mat
/Assets/Bundles/Resources/Unit/Models/Set/5040/Materials/Magician_M land.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5060/Materials/Thief_W wind.mat
/Assets/Bundles/Resources/Unit/Models/Set/5060/Materials/Thief_W wind.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5070/Materials/CrossArcher_M water.mat
/Assets/Bundles/Resources/Unit/Models/Set/5070/Materials/CrossArcher_M water.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5080/Materials/ache_land.mat
/Assets/Bundles/Resources/Unit/Models/Set/5080/Materials/ache_land.mat.meta
/Assets/Bundles/Resources/Unit/Models/Set/5090/Materials/templar_land.mat
/Assets/Bundles/Resources/Unit/Models/Set/5090/Materials/templar_land.mat.meta
.DS_Store
/Assets/PrefabEvolution.meta
/Assets/PrefabEvolution/Images
/Assets/PrefabEvolution/Readme
/Assets/PrefabEvolution
/tiny-civ.sln