*.7z               -merge=binary
*.ai               -merge=binary
*.anim             -merge=binary
*.apk              -merge=binary
*.asset            -merge=binary
*.bin              -merge=binary
*.bmp              -merge=binary
*.BMP              -merge=binary
*.com              -merge=binary
*.COM              -merge=binary
*.controller       -merge=binary
*.cubemap          -merge=binary
*.dex              -merge=binary
*.dll              -merge=binary
*.DLL              -merge=binary
*.dylib            -merge=binary
*.eps              -merge=binary
*.exe              -merge=binary
*.EXE              -merge=binary
*.exr              -merge=binary
*.fbx              -merge=binary
*.FBX              -merge=binary
*.fla              -merge=binary
*.flare            -merge=binary
*.flv              -merge=binary
*.gif              -merge=binary
*.guiskin          -merge=binary
*.gz               -merge=binary
*.ht               -merge=binary
*.ico              -merge=binary
*.jpeg             -merge=binary
*.jpg              -merge=binary
*.keystore         -merge=binary
*.mask             -merge=binary
*.mat              -merge=binary
*.mb               -merge=binary
*.mp3              -merge=binary
*.mp4              -merge=binary
*.mpg              -merge=binary
*.ogg              -merge=binary
*.PCX              -merge=binary
*.pcx              -merge=binary
*.pdb              -merge=binary
*.pdf              -merge=binary
*.physicMaterial   -merge=binary
*.physicmaterial   -merge=binary
*.png              -merge=binary
*.prefab           -merge=binary
*.ps               -merge=binary
*.psd              -merge=binary
*.qt               -merge=binary
*.so               -merge=binary
*.swf              -merge=binary
*.sheenaAssetBundle -merge=binary
*.tga              -merge=binary
*.tif              -merge=binary
*.tiff             -merge=binary
*.ttf              -merge=binary
*.TTF              -merge=binary
*.unity            -merge=binary
*.unitypackage     -merge=binary
*.unityPackage     -merge=binary
*.wav              -merge=binary
*.wmv              -merge=binary
*.zip              -merge=binary
*.ZIP              -merge=binary
